.block {
  display: grid;
  grid-template-columns: 10% 80% 5%;
  align-items: center;
  gap: 10px;
}

.input_without_delete_button {
  display: contents;
}

.delete_button_container {
  display: flex;
  align-self: center;
}
